.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.series-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
  max-width: 75rem;
  padding: 1rem;

  .series-item {
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    img {
      border-radius: 1rem;
    }

    &:hover {
      transform: scale(1.05);
      z-index: 1;
    }
  }
}
